<h3>Previous <%= @previous_picks.count %> Picks</h3>
<div class="table-margin">
  <% if @previous_picks.count > 0 %>
      <table class="table-fill">
        <thead>
        <tr>
          <th class="text-left">Round</th>
          <th class="text-left">Pick</th>
          <th class="text-left">Team</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <% @previous_picks.each do |previous_pick| %>
            <tr>
              <td class="text-left"><%= previous_pick.round %></td>
              <td class="text-left"><%= previous_pick.pick %></td>
              <td class="text-left"><%= @teams[previous_pick.team_id].name %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      No results found.
  <% end %>
</div>
