<% cache do %>
    <footer class="app-footer">
      <div class="app-cont">
        <div class="copy">
          <%= Time.now.year %> &copy; <%= link_to :root do %>
              <b>NFL</b> Draft
          <% end %>
        </div>
      </div>
    </footer>
<% end %>